body {
	background: #eee;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

#container {
	/*background: #fff;*/
	width: 600px;
	height: 600px;
	max-width: 100%;
	margin: auto;
	margin-top: 2em;
	position: relative;
    font-family: 'Raleway';
    overflow: visible;
}

canvas {
    overflow: visible;
	/*border: 1px solid #aaa;*/
}