body {
	background: #eee;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

#container {
	/*background: #fff;*/
	width: 600px;
	height: 600px;
	max-width: 100%;
	margin: auto;
	margin-top: 2em;
	position: relative;
    font-family: 'Raleway';
    overflow: visible;
}

canvas {
    overflow: visible;
    position: absolute;
	/*border: 1px solid #aaa;*/
}

#picker {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}

#sizer {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
}

.display {
    margin: auto 0px;
    height: 600px;
    width: 600px;
    position: relative;
}